{% extends "layout.html" %}

{% block title %}
    buy
{% endblock %}


{% block main %}

    <div class="container">

        <div class="row">
            <div class="col-sm-5 col-12 justify-content-center sticky-top">
                <form id="form" class="" action="/buy" method="post">
                    <div class="form-group ">
                        <label class="" for="symbol">Enter Symbol</label>
                        <input id="symbol" class="form-control" id="symbol1" type="text" name="symbol" placeholder="example: aapl">
                    </div>

                    <div class="form-group ">
                        <label required class="ml-auto mr-auto col-6" for="quantity1">Choose stock amount</label>
                        <input class="form-control" id="quantity1" type="number" min="0" name="quantity" placeholder="0">
                    </div>

                    <button onkeyup="lowercase()" onclick="convert()" class=" btn btn-primary" id="submit"><img src="https://img.icons8.com/fluent/32/000000/buy.png"/> Buy</button>
                </form>
            </div>

                
            <div class="col mx">

               

                <div class="">
                    <h3 class="text-primary center-text" > List of symbols</h3>

                    <div id="symbol-list" class="symbol-list p-4 border-bottom border-top">

                        <ul class="list list-unstyled">
                            {% for symbol in symbols %}
                                 <p class="text-justify d-inline text-justify"> {{ symbol }} </p>
                            {% endfor %}    
                        </ul>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
        <script>
          var submit = document.getElementById('submit');
          submit.onclick = function() {
              submit.classList.add('btn-info');
              submit.innerHTML = 'Processing...';
          }
        </script>
{% endblock %}