{% extends "layout.html" %}

{% block title %}
    home
{% endblock %}


{% block main %}


<link href="https://unpkg.com/bootstrap-table@1.17.0/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.17.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.17.0/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>


    {% if bought %}
        <h1>Bought!</h1>
    {% endif %}
    <div class="container">
        <div class="mb-5 text-primary">
            <h1>Hello, {{ user.username }}.</h1>
            <h3>Here are your stocks:</h3>
        </div>
    </div>

    

    <table
        id="table"
        data-show-columns="true"
        data-search="true"
        data-mobile-responsive="true"
        data-check-on-init="true">
        <thead>
            <tr>
            <th data-field="id" data-sortable="true">Symbol</th>
            <th data-field="name" data-sortable="true">Name</th>
            <th data-field="amount" data-sortable="true">Amount</th>
            <th data-field="price" data-sortable="true">Price</th>
            <th data-field="total" data-sortable="true">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in stocks %}

                        <tr>
                            <th scope="row">{{ row['symbol'] }}</th>
                            <!-- <td>{{ row['symbol'] }}</td> -->
                            <td>{{ row['name'] }}</td>
                            <td>{{ row['amount'] }}</td>
                            <td>{{ '$%0.2f'|format(row['price']) }}</td>
                            <td>{{ '$%0.2f'|format(row['total']) }}</td>
                        </tr>

                        {% endfor %}
                        <tr class="mt-5">
                            <!-- <td></td> -->
                            <td><strong>Cash</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong> {{ user.cash|numberFormat  }} </strong> </td>
                        </tr>
                        <tr class="mt-5">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                            <td><strong>Total: {{ total }}</strong> </td>
                        </tr>
        </tbody>
    </table>

    <script>
        $(function() {
          $('#table').bootstrapTable()
        })
      </script>
{% endblock %}