{% extends "layout.html" %}

{% block title %}
    sell stocks
{% endblock %}


{% block main %}

    <div class="container">
        <h3 class="text-primary">Select from the menu below which of your stocks to sell</h3>
        <h3 class="text-primary">and how many:</h3>
    </div>


    </div>
        <form class="form mt-5" action="/sell" method="post">
            <div class="form-group">
                <select class="form-control" id="symbol" name="symbol">
                    {% for stock in stocks %}
                        <option>{{ stock }}</option>
                    {% endfor %}
                </select>

            </div>
                <div class="form-group">
                    <!--<label class="col-12" for="amount">Choose how many shares to sell</label>-->
                    <input class="col-12 form-control" id="amount" name="amount" type="number" placeholder="Amount to sell" min="1" required>
                </div>

                <button class="btn btn-primary" type="submit"><img src="https://img.icons8.com/nolan/32/economic-improvement.png"/> Sell</button>
        </form>
    </div>
{% endblock %}