{% extends "layout.html" %}

{% block title %}
    sell stocks
{% endblock %}


{% block main %}


{% if not stocks %}
    
    <div class="container">
        <div class="row mb-5 mt-4">
            <div class="col justify-content-center">
                <h3 class="text-primary">You don't have any stocks to sell!</h3>

            </div>
        </div>
        <div class="row justify-content-center">
            <a href="/buy" class="border-bottom text-muted">Click here to buy</a>
        </div>
    </div>
{% else  %}
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <h3 class="text-primary">Select from the menu below which of your stocks to sell</h3>
                <h3 class="text-primary">and how many:</h3>
        
            </div>
        </div>
    </div>

    </div class="container">
        <div class="row justify-content-center">
            
            
            <!-- sell stocks form-->
            <div class="col-12 col-sm-8 col-md-4 col-lg-3 mb-3 mr-3 ml-3">
                <form class="form mt-5" action="/sell" method="post">
                    <div class="form-group">
                        <select class="justify-content-center form-control" id="symbol" name="symbol" required>
                            {% for stock in stocks %}
                                <option>{{ stock }}</option>
                            {% endfor %}
                        </select>

                    </div>
                        <div class="form-group">
                            <input class="col-12 form-control" id="amount" name="amount" type="number" placeholder="Amount to sell" min="1" required>
                        </div>

                        <button id="sell" class="btn btn-primary" type="submit"><img src="https://img.icons8.com/nolan/32/economic-improvement.png"/> Sell</button>
                </form>
            </div>


            
            <!-- list of owned stocks-->
            <div class="col-12 col-sm-8 col-md-4 col-lg-3 mt-3 mr-3 ml-3">
                <h5 class="text-success">You own:</h5>
                <ul class="list-group">
                    {% for key, value in stocks.items() %}
                    <li class="list-group-item text-justify">{{ value }} shares of '{{ key }}'.</li>
                    {% endfor %}
                </ul>
                
            </div>
        </div>
    </div>
{% endif %}
    <script>
        var  sell = document.getElementById('sell');
        sell.onclick = function() {
            sell.classList.add('btn-info');
            sell.innerHTML = 'Processing...';
        }
    </script>
{% endblock %}