{% extends "layout.html" %}

{% block title %}
    sell stocks
{% endblock %}


{% block main %}

    <div class="container">
        <h3 class="text-primary">Select from the menu below which of your stocks to sell</h3>
        <h3 class="text-primary">and how many:</h3>
    </div>


    </div class="container">
        <div class="row justify-content-center">
            <div class="text-center col-12 col-sm-6 col-md-3">
                <form class="form mt-5" action="/sell" method="post">
                    <div class="form-group">
                        <select class="justify-content-center form-control" id="symbol" name="symbol">
                            {% for stock in stocks %}
                                <option>{{ stock }}</option>
                            {% endfor %}
                        </select>

                    </div>
                        <div class="form-group">
                            <!--<label class="col-12" for="amount">Choose how many shares to sell</label>-->
                            <input class="col-12 form-control" id="amount" name="amount" type="number" placeholder="Amount to sell" min="1" required>
                        </div>

                        <button id="sell" class="btn btn-primary" type="submit"><img src="https://img.icons8.com/nolan/32/economic-improvement.png"/> Sell</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        var  sell = document.getElementById('sell');
        sell.onclick = function() {
            sell.classList.add('btn-info');
            sell.innerHTML = 'Processing...';
        }
    </script>
{% endblock %}